body {
  background-color: #f4f4f4;
}

.top {
  background-color: #3498db;
  padding-top: 80px;
  padding-bottom: 100px;
  border-bottom: 1px solid rgb(10, 9, 9);
}

#name {
  color: #fff;
  font-family: Helvetica, sans-serif;
  font-size: 4.1em;
  text-align: center;

  background-color: #3498db;
}

#student {
  color: #74b9ff;
  font-family: Helvetica, sans-serif;
  text-align: center;
  font-weight: 90;
  margin-top: -2em;
}

#block1 {
  background-color: white;
}
#intro {
  color: #6d6b6b;
  padding-left: 300px;
  padding-top: 50px;
  padding-bottom: 40px;
  font-family: Verdana, Tahoma, sans-serif;
  font-weight: 100px;
}
#about {
  color: #5c5a5a;
  margin-top: -2.6em;
  font-size: 2.2em;
  font-weight: 1px;
  font-family: Helvetica, sans-serif;
  padding-bottom: 50px;
}
hr {
  border-top: 1px solid rgb(196, 192, 192);
}

#EducationHeading {
  color: #5c5a5a;
  font-family: Helvetica, sans-serif;
  text-align: center;
  font-size: 2.2em;
  font-weight: 1px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#college {
  border-style: solid;
  border-width: thin;
  margin-left: 440px;
  margin-right: 430px;
  background-color: white;
}
#CollegeName {
  padding-left: 20px;
  color: #504f4f;
}
#degree {
  padding-left: 20px;
  padding-bottom: 20px;
  color: #6d6b6b;
  margin-top: -0.7em;
  font-family: Verdana, Tahoma, sans-serif;
}
#year1 {
  padding-left: 460px;
  margin-top: -3.5em;
}

#schooling {
  border-style: solid;
  border-width: thin;
  margin-left: 440px;
  margin-right: 430px;
  margin-top: 35px;
  background-color: white;
}

#senior {
  color: #504f4f;
  padding-left: 20px;
}

#marks1 {
  color: #6d6b6b;
  padding-left: 20px;
  margin-top: -1em;
  font-family: Verdana, Tahoma, sans-serif;
}
#metric {
  color: #504f4f;
  padding-left: 20px;
  padding-top: 40px;
}

#marks2 {
  color: #6d6b6b;
  padding-left: 20px;
  margin-top: -1em;
  font-family: Verdana, Tahoma, sans-serif;
  margin-top: -2.2em;
}

#year2 {
  padding-left: 460px;
  margin-top: -5.4em;
  color: #6e6e6e;
  font-family: Verdana, Tahoma, sans-serif;
  font-weight: bold;
}

#year3 {
  padding-left: 460px;
  color: #6d6b6b;
  font-family: Verdana, Tahoma, sans-serif;
  font-weight: bold;
}

#SkillsSection {
  padding-bottom: 30px;
}

#skill {
  color: #424141;
  font-family: Helvetica, sans-serif;
  text-align: center;
  font-weight: normal;
}

#javascript {
  color: rgb(70, 69, 69);
  border-style: none;
  margin-left: 530px;
  margin-right: 840px;
  background-color: lightgray;
  padding: 8px;
  font-family: sans-serif;
  font-weight: normal;
}
#python {
  color: rgb(70, 69, 69);
  border-style: none;
  margin-left: 700px;
  margin-right: 723px;
  margin-top: -2.6em;
  background-color: lightgray;
  padding: 8px;
  font-family: sans-serif;
  font-weight: normal;
}

#c {
  color: rgb(70, 69, 69);
  border-style: none;
  margin-left: 815px;
  margin-right: 657px;
  margin-top: -2.6em;
  background-color: lightgray;
  padding: 8px;
  font-family: sans-serif;
  font-weight: normal;
}

#cpp {
  color: rgb(70, 69, 69);
  border-style: none;
  margin-left: 880px;
  margin-right: 560px;
  margin-top: -2.6em;
  background-color: lightgray;
  padding: 8px;
  font-family: sans-serif;
  font-weight: normal;
}

#HTML5 {
  color: rgb(70, 69, 69);
  border-style: none;
  margin-left: 560px;
  margin-right: 850px;
  background-color: lightgray;
  padding: 8px;
  font-family: sans-serif;
  font-weight: normal;
}

#CSS3 {
  color: rgb(70, 69, 69);
  border-style: none;
  margin-left: 705px;
  margin-right: 725px;
  margin-top: -2.6em;
  background-color: lightgray;
  padding: 8px;
  font-family: sans-serif;
  font-weight: normal;
}

#GitHub {
  color: rgb(70, 69, 69);
  border-style: none;
  margin-left: 820px;
  margin-right: 590px;
  margin-top: -2.6em;
  background-color: lightgray;
  padding: 8px;
  font-family: sans-serif;
  font-weight: normal;
}

#form {
  background-color: rgb(6, 147, 212);
  padding-top: 35px;
  padding-bottom: 40px;
}

#GetInTouch {
  text-align: center;
  font-family: sans-serif;
  font-weight: normal;
  color: white;
}

#email {
  background-color: #1d6fa5;
  border: none;
  margin-left: 570px;
  width: 370px;
  box-sizing: border-box;
  border-radius: 6px;
  height: 30px;
  padding-left: 10px;
}

#subject {
  background-color: #1d6fa5;
  border: none;
  margin-left: 570px;
  margin-top: -0.8em;
  width: 370px;
  box-sizing: border-box;
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
}

::placeholder {
  color: white;
}

input[type='email'] :focus {
  background-color: rgb(0, 111, 214);
}

input[type='text'] :focus {
  background-color: rgb(0, 111, 214);
  font-family: sans-serif;
  font-size: 4em;
}

#Button {
  margin-top: -0.7em;
  margin-left: 570px;
  margin-right: 561px;
  box-sizing: border-box;
}

#SendButton {
  padding-left: 169px;
  padding-right: 169px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 6px;
}

footer {
  color: grey;
  font-family: sans-serif;
  padding-top: 60px;
  padding-left: 190px;
  padding-bottom: 60px;
}

.fa {
  padding: 0px;
  font-size: 25px;
  width: 40px;
  text-decoration: none;
  margin-top: -100px;
}
.fa:hover {
  opacity: 0.7;
}

.fa-github {
  margin-left: 1200px;
}

#footer {
  margin-bottom: -5em;
}
